{{ include('common/header.twig') }}
<div class="page-title">
	<div class="row align-items-center">
		<div class="col-sm-12">
			<h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
			<div class="breadcrumbs d-inline-block">
				<ul>
					<li><a href="{{ common.info.url }}">Dashboard</a></li>
					<li><a href="{{ common.info.url_route }}noticeboard">Noticeboard</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<form action="{{ action }}" method="post">
	<input type="hidden" name="_token" value="{{ common.token }}">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<label>Title <span class="form-required">*</span></label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="las la-tag"></i></span>
					</div>
					<input type="text" name="notice[title]" class="form-control" value="{{ result.title }}" placeholder="Enter Title . . ." required>
				</div>
			</div>
			<div class="form-group">
				<label>Description</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="las la-paragraph"></i></span>
					</div>
					<textarea name="notice[description]" class="form-control" placeholder="Enter Description . . .">{{ result.description }}</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Start Date <span class="form-required">*</span></label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"><i class="las la-calendar"></i></span></div>
							<input type="text" name="notice[start_date]" class="form-control date" value="{{ result.start_date|date(common.info.date_format) }}" placeholder="Enter Start Date . . ." readonly required>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>End Date <span class="form-required">*</span></label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"><i class="las la-calendar"></i></span></div>
							<input type="text" name="notice[end_date]" class="form-control date" value="{{ result.end_date|date(common.info.date_format) }}" placeholder="Enter End Date . . ." readonly required>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>Status</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="las la-check-square"></i></span>
					</div>
					<select name="notice[status]" class="custom-select">
						<option value="1" {{ result.status == '1' ? 'selected' : false }}>Active</option>
						<option value="0" {{ result.status == '0' ? 'selected' : false }}>Inactive</option>
					</select>
				</div>
			</div>
		</div>
		<input type="hidden" name="notice[id]" value="{{ result.id }}">
		<div class="panel-footer text-center">
			<button type="submit" name="submit" class="btn btn-primary"><i class="ti-save-alt pr-2"></i> Save</button>
		</div>
	</div>
</form>
{{ include('common/footer.twig') }}