{{ include('common/header.twig') }}
<div class="page-title">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <h2 class="page-title-text d-inline-block">{{ page_title }}</h2>
            <div class="breadcrumbs d-inline-block">
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li>{{ page_title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- payment Type page start -->
<form action="{{ action }}" method="post">
    <input type="hidden" name="_token" value="{{ common.token }}">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="customization-container">
                <div class="row text-left">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="d-block">Admin Panel Logo</label>
                            <div class="image-upload" {% if result.logo %}style="display:none"{% endif %}>
                                <a>Upload</a>
                            </div>
                            <div class="saved-picture" {% if result.logo is empty %}style="display:none"{% endif %}>
                                {% if result.logo %}
                                    <img class="img-thumbnail" src="public/uploads/{{ result.logo }}" alt="">
                                {% endif %}
                                <input type="hidden" name="logo" value="{{ result.logo }}">
                            </div>
                            <div class="saved-picture-delete" data-toggle="tooltip" data-placement="right" title="Remove" {% if result.logo is empty %}style="display:none"{% endif %}>
                                <a class="las la-trash-alt"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="d-block">Admin Panel Logo Icon</label>
                            <div class="image-upload" {% if result.logo_icon %}style="display:none"{% endif %}>
                                <a>Upload</a>
                            </div>
                            <div class="saved-picture" {% if result.logo_icon is empty %}style="display:none"{% endif %}>
                                {% if result.logo_icon %}
                                    <img class="img-thumbnail" src="public/uploads/{{ result.logo_icon }}" alt="">
                                {% endif %}
                                <input type="hidden" name="logo_icon" value="{{ result.logo_icon }}">
                            </div>
                            <div class="saved-picture-delete" data-toggle="tooltip" data-placement="right" title="Remove" {% if result.logo is empty %}style="display:none"{% endif %}>
                                <a class="las la-trash-alt"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="d-block">Admin Panel Favicon</label>
                            <div class="image-upload" {% if result.favicon %}style="display:none"{% endif %}>
                                <a>Upload</a>
                            </div>
                            <div class="saved-picture" {% if result.favicon is empty %}style="display:none"{% endif %}>
                                {% if result.favicon %}
                                    <img class="img-thumbnail" src="public/uploads/{{ result.favicon }}" alt="">
                                {% endif %}
                                <input type="hidden" name="favicon" value="{{ result.favicon }}">
                            </div>
                            <div class="saved-picture-delete" data-toggle="tooltip" data-placement="right" title="Remove" {% if result.logo is empty %}style="display:none"{% endif %}>
                                <a class="las la-trash-alt"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="d-block">Login background</label>
                            <div class="image-upload" {% if result.lg_background %}style="display:none"{% endif %}>
                                <a>Upload</a>
                            </div>
                            <div class="saved-picture" {% if result.lg_background is empty %}style="display:none"{% endif %}>
                                {% if result.lg_background %}
                                    <img class="img-thumbnail" src="public/uploads/{{ result.lg_background }}" alt="">
                                {% endif %}
                                <input type="hidden" name="lg_background" value="{{ result.lg_background }}">
                            </div>
                            <div class="saved-picture-delete" data-toggle="tooltip" data-placement="right" title="Remove" {% if result.logo is empty %}style="display:none"{% endif %}>
                                <a class="las la-trash-alt"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="customization-layout">
                    <h5 class="text-left font-20 font-500">Layout</h5>
                    <div class="layout text-left ml-2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="custom-control custom-radio custom-radio-1 mb-3">
                                    <input type="radio" class="custom-control-input" name="layout" id="layout-wide" value="" {{ result.layout == "" ? 'checked' : false }}>
                                    <label class="custom-control-label font-12" for="layout-wide">Wide Layout</label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-1 mb-3">
                                    <input type="radio" class="custom-control-input" name="layout" id="layout-boxed" value="boxed" {{ result.layout == "boxed" ? 'checked' : false }}>
                                    <label class="custom-control-label font-12" for="layout-boxed">Boxed Layout</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control custom-radio custom-radio-1 mb-3">
                                    <input type="radio" class="custom-control-input" name="layout_fixed" id="layout-static" value="" {{ result.layout_fixed == "" ? 'checked' : false }}>
                                    <label class="custom-control-label font-12" for="layout-static">Static Layout</label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-1 mb-3">
                                    <input type="radio" class="custom-control-input" name="layout_fixed" id="layout-fixed" value="menu-fixed page-hdr-fixed" {{ result.layout_fixed == "menu-fixed page-hdr-fixed" ? 'checked' : false }}>
                                    <label class="custom-control-label font-12" for="layout-fixed">Fixed Layout</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control custom-checkbox custom-checkbox-1 mb-3">
                                    <input type="checkbox" class="custom-control-input" name="layout_menu" id="layout-collapsed" value="page-menu-small" {{ result.layout_menu == "page-menu-small" ? 'checked' : false }}>
                                    <label class="custom-control-label font-12" for="layout-collapsed">Collapsed Menu</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ml-2">
                    <div class="text-left">
                        <h5 class="text-left font-20 font-500">Side Menu Background</h5>
                        <div class="custom-control custom-radio custom-radio-1 mb-3">
                            <input type="radio" class="custom-control-input" name="side-menu" id="side-menu-light" value="light" {{ result.side_menu == "light" ? 'checked' : false }}>
                            <label class="custom-control-label font-12" for="side-menu-light">Light Background</label>
                        </div>
                        <div class="custom-control custom-radio custom-radio-1 mb-3">
                            <input type="radio" class="custom-control-input" name="side-menu" id="side-menu-dark" value="dark" {{ result.side_menu == "dark" ? 'checked' : false }}>
                            <label class="custom-control-label font-12" for="side-menu-dark">Dark Background</label>
                        </div>
                    </div>
                </div>
                <div class="customization-color text-left">
                    <h5 class="text-left font-20 font-500">Header Background</h5>
                    <div>
                        <div class="customization-color-checkbox">
                            <input type="radio" name="header-color" id="light-sidebar-white" value="bg-white" {{ result.header_color == "bg-white" ? 'checked' : false }}>
                            <label for="light-sidebar-white" style="background-color: #fff"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" name="header-color" id="light-sidebar-primary" value="page-hdr-colored bg-primary" {{ result.header_color == "page-hdr-colored bg-primary" ? 'checked' : false }}>
                            <label for="light-sidebar-primary" style="background-color: #3483FF"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" name="header-color" id="light-sidebar-success" value="page-hdr-colored bg-success" {{ result.header_color == "page-hdr-colored bg-success" ? 'checked' : false }}>
                            <label for="light-sidebar-success" style="background-color: #0bc36e"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" name="header-color" id="light-sidebar-secondary" value="page-hdr-colored bg-secondary" {{ result.header_color == "page-hdr-colored bg-secondary" ? 'checked' : false }}>
                            <label for="light-sidebar-secondary" style="background-color: #282a3c"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" name="header-color" id="light-sidebar-warning" value="page-hdr-colored bg-warning" {{ result.header_color == "page-hdr-colored bg-warning" ? 'checked' : false }}>
                            <label for="light-sidebar-warning" style="background-color: #fec107"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" name="header-color" id="light-sidebar-danger" value="page-hdr-colored bg-danger" {{ result.header_color == "page-hdr-colored bg-danger" ? 'checked' : false }}>
                            <label for="light-sidebar-danger" style="background-color: #fb9678"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" name="header-color" id="light-sidebar-info" value="page-hdr-colored bg-info" {{ result.header_color == "page-hdr-colored bg-info" ? 'checked' : false }}>
                            <label for="light-sidebar-info" style="background-color: #03a9f3"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" name="header-color" id="light-sidebar-dark" value="page-hdr-colored bg-dark" {{ result.header_color == "page-hdr-colored bg-dark" ? 'checked' : false }}>
                            <label for="light-sidebar-dark" style="background-color: #555"><i class="las la-check"></i></label>
                        </div>
                    </div>
                    <h5 class="text-left font-20 font-500 mt-3">Header Gradient Background</h5>
                    <div class="">
                        <div class="customization-color-checkbox">
                            <input type="radio" value="bg-white" name="header-color" id="light-gr-sidebar-white" {{ result.header_color == "bg-white" ? 'checked' : false }}>
                            <label for="light-gr-sidebar-white" style="background-color: #fff"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" value="page-hdr-colored page-hdr-gradient bg-primary" name="header-color" id="light-gr-sidebar-primary" {{ result.header_color == "page-hdr-colored page-hdr-gradient bg-primary" ? 'checked' : false }}>
                            <label for="light-gr-sidebar-primary" style="background-color: #3483FF"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" value="page-hdr-colored page-hdr-gradient bg-success" name="header-color" id="light-gr-sidebar-success" {{ result.header_color == "page-hdr-colored page-hdr-gradient bg-success" ? 'checked' : false }}>
                            <label for="light-gr-sidebar-success" style="background-color: #0bc36e"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" value="page-hdr-colored page-hdr-gradient bg-secondary" name="header-color" id="light-gr-sidebar-secondary" {{ result.header_color == "page-hdr-colored page-hdr-gradient bg-secondary" ? 'checked' : false }}>
                            <label for="light-gr-sidebar-secondary" style="background-color: #282a3c"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" value="page-hdr-colored page-hdr-gradient bg-warning" name="header-color" id="light-gr-sidebar-warning" {{ result.header_color == "page-hdr-colored page-hdr-gradient bg-warning" ? 'checked' : false }}>
                            <label for="light-gr-sidebar-warning" style="background-color: #fec107"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" value="page-hdr-colored page-hdr-gradient bg-danger" name="header-color" id="light-gr-sidebar-danger" {{ result.header_color == "page-hdr-colored page-hdr-gradient bg-danger" ? 'checked' : false }}>
                            <label for="light-gr-sidebar-danger" style="background-color: #fb9678"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" value="page-hdr-colored page-hdr-gradient bg-info" name="header-color" id="light-gr-sidebar-info"  {{ result.header_color == "page-hdr-colored page-hdr-gradient bg-info" ? 'checked' : false }}>
                            <label for="light-gr-sidebar-info" style="background-color: #03a9f3"><i class="las la-check"></i></label>
                        </div>
                        <div class="customization-color-checkbox">
                            <input type="radio" value="page-hdr-colored page-hdr-gradient bg-dark" name="header-color" id="light-gr-sidebar-dark"  {{ result.header_color == "page-hdr-colored page-hdr-gradient bg-dark" ? 'checked' : false }}>
                            <label for="light-gr-sidebar-dark" style="background-color: #555"><i class="las la-check"></i></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" name="submit" class="btn btn-primary"><i class="ti-save-alt pr-2"></i> Save</button>
        </div>
    </div>
</form>
{{ include('common/footer.twig') }}